<style>
    th, td {
        padding: 10px;
    }

    th {
        text-align: right;
    }
</style>

<h1>Create or Update Country:</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}