# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\taimoor.khan\PhpstormProjects\symfony-crud-operations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
